{
  "presets": [
    [
      "env", {
        "targets": {
          "node": 4
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"],
  "ignore": [
    "__mocks__/**/*",
    "__tests__/**/*"
  ]
}
